params {
    samples   = "samples.csv"
    reference = "/mnt/d/narmafzar_kargah/r_python/dr_kaki_exomseq/genome_R/hg38.fa/hg38.fa"
    outdir    = "results"
    threads   = 4
    memory    = "8 GB"
}

process {
    executor  = 'local'
    cpus      = params.threads
    memory    = params.memory
    maxForks  = 2

    withName: 'FASTP'                 { container = 'quay.io/biocontainers/fastp:0.23.4--h125f33a_5' }
    withName: 'BWA_MEM'               { container = 'staphb/bwa:0.7.17' }
    withName: 'SAMTOOLS_SORT'         { container = 'quay.io/biocontainers/samtools:1.18--h50ea8bc_1' }
    withName: 'SAMTOOLS_INDEX'        { container = 'quay.io/biocontainers/samtools:1.18--h50ea8bc_1' }
    withName: 'GATK_HAPLOTYPECALLER' { container = 'broadinstitute/gatk:4.5.0.0' }
}

docker {
    enabled    = true
    runOptions = '-u $(id -u):$(id -g)'
}
